# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.env

# Git
.git/
.gitignore

# OS files
.DS_Store
Thumbs.db

# Test / local files (optional)
tests/
*.log

# Python build files
build/
dist/
*.egg-info/
